<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.sbbpage.WordMapper">
	<select id = "getWordList" resultType = "com.mysite.sbbpage.Word">
		SELECT id, word FROM page_tb ORDER BY word DESC LIMIT #{size} OFFSET #{offset}
	</select>
	<select id = "getWordById" resultType = "com.mysite.sbbpage.Word">
		SELECT id, word FROM page_tb WHERE id = #{id}
	</select>

</mapper>